<div [ngStyle]="{'width':'100vw','height':'auto','padding':'15vh 25vw'}">
  <div [ngStyle]="{'display':'flex','margin':'3vh auto','width':'60%','height':'auto','flex-direction':'column','padding':'10px',
  'background':'rgba(255,4,0,0.3)','border':'none','border-radius':'10px'}">
  <p [ngStyle]="{'width':'100%','text-align':'center','font-size':'3rem','font-weight':'bold',
    'margin':'5vh 0','line-height':'10vh'}">Payout Error</p>

  <p [ngStyle]="{'width':'100%','text-align':'center','font-weight':'bold',
  'margin-bottom':'1vh'}">
  Please contact and tell Nano Commerce that there was a payout error because this could mean money from a bid you accepted
  is not being transferred.  The email is infotechnano3@gmail.com.
  </p>

  <a [routerLink]="['/market']" [ngStyle]="{'width':'100%','padding':'5px','height':'6vh','text-align':'center','font-size':'2rem','font-weight':'bold',
  'text-decoration':'none','color':'white','cursor':'pointer','background':'rgb(64,255,0)',
  'border':'none','border-radius':'10px','display':'flex','align-items':'center','justify-content':'center'}">Ok</a>
  </div>
</div>
